
.banner-text{
  margin: 10px;
 
}

.get-appoinment-btn{
  background-color: palevioletred;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 15px;
    color: white;
}
@media only screen and (max-width: 688px) {
  
  .banner-image{
    width: 350px;
   
  }
}
@media only screen and (min-width: 669px) {
  .banner{
    display: flex;
  }
  
  .banner-image{
    width: 600px; 
  }
}
